
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #42EADDFF;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 5px black;
    padding: 20px;
    border-radius: 10px;
    background-color: #CDB599FF;
}

button{
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: ;
}
#value{
    border: 1px solid black;
    padding: 5px 15px;
    font-size: 20px;
}